- unless current_user&.subscribe?(resource)
  = link_to 'Follow', question_subscriptions_path(resource), class: 'btn-action', method: :post, remote: true
- else
  = link_to 'Unfollow', subscription_path(resource), class: 'btn-action', method: :delete
