.navbar {
  position: relative;
  height: 130px !important;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: block;
}

.right {
  position: absolute;
  right: 150px;
  margin: 0 10px;
}

.left {
  position: absolute;
  left: 160px;
  font-weight: bold !important;
}

.btn-sm {
  color: #3A61E2 !important;
}

.btn-sm:hover {
  color: #834DDA !important;
}

.btn-bold {
  font-weight: bold !important;
}

.social {
  margin: 10px;
}

.github:hover,
.vkontakte:hover,
.brand:hover {
  filter: hue-rotate(750deg);
}

.d-flex {
  gap: 7px;
}
