.navbar {
  position: relative;
  height: 130px !important;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: block;
}

.right {
  position: absolute;
  right: 150px;
  margin: 0 10px;
}

.left {
  position: absolute;
  left: 160px;
}

.btn-sm {
  color: #39739d !important;
}

.btn-sm:hover {
  color: #39739d !important;
}

.social {
  margin: 10px;
}

.github:hover,
.vkontakte:hover,
.brand:hover {
  filter: invert(38%) sepia(71%) saturate(410%) hue-rotate(162deg) brightness(91%) contrast(87%);
}

.d-flex {
  gap: 7px;
}
